* {
    margin: 0;
    padding: 0;

}

body {
    overflow-y: scroll;
    background-color: #212121;
}

.headerStyle {
    width: 100%;
    height: 40px;
    background-color: #3C3F41;
    border-bottom: 2px solid #B0B0B0;
}

.headerStyle > p {
    color: #F1F1F1;
    font-weight: 600;
    font-size: 28px;
}

.top3 > td{
    height: 44px;
    font-weight: bold;
    font-size: 20px;
}

.top3 > .ranking{
    color: #1976d2;
}
